body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    text-align: center;
    background-color: aqua;
}

.button {
    display: flex;
    background-color: lightblue;
    border: none;
    color: rgb(0, 0, 0);
    padding: 6px 6px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.button:hover {
    background-color: aqua;
}

/* Adds the scrolling feature for the character list */
div.scroll {
    background-color: lightblue;
    width: 150px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.vertical-left-top {
    display: inline-block;
    width: 33.3%;
}

.vertical-center-top {
    display: inline-block;
    width: 33.3%;
}

.vertical-right-top {
    display: inline-block;
    width: 33.3%;
}

.vertical-left-bottom {
    display: inline-block;

}

.vertical-center-bottom {
    display: inline-block;
    width: 33.3%;
}

.vertical-right-bottom {
    display: inline-block;
    width: 33.3%;
}

.vertical-center-bottomer {
    display: inline;
    width: 33.3%;
}